<div class="page-area">
    <div class="row">
        <div class="col-md-6">

            <h5 class="card-title">Laptop</h5>
            <p class="card-text">Laptop text</p>
            <img src="https://images-na.ssl-images-amazon.com/images/I/71h6PpGaz9L.__AC_SY300_SX300_QL70_FMwebp_.jpg"
                class="card-img-top" alt="...">


        </div>
        <div class="col-md-6">


            <h5 class="card-title">LED</h5>
            <p class="card-text">led text</p>
            <img src="https://images-eu.ssl-images-amazon.com/images/I/5173vHzYZ0L._SY300_SX300_QL70_FMwebp_.jpg"
                class="card-img-top" alt="...">

        </div>
        <div class="col-md-6">

            <h5 class="card-title">Washing Machin</h5>
            <p class="card-text">Washing Machin text</p>
            <img src="https://www.lg.com/in/images/washing-machines/md07514753/gallery/FHM1065ZDL-Washing-Machines-Front-View-D-01.jpg"
                class="card-img-top" alt="...">

        </div>
        <div class="col-md-6 ">

            <h5 class="card-title">Mobile</h5>
            <p class="card-text">Mobile text</p>
            <img src="https://m.media-amazon.com/images/I/81AT+Flc+EL._AC_SX300_SY300_.jpg" class="card-img-top"
                alt="...">

        </div>

    </div>
</div>